:root {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --heading-color: #000c04;
  --bg-color: #fff;
  --dropdown-color: #fff;
  --border-color: #ddd;
  --border-light: #f0f3f0;
  --bg-light: rgba(147, 107, 232, 0.05);
  --font-color: #696969;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost", "Merriweather", serif, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}

.read:hover {
  color: var(--primary-color);
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary-color);
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}

a {
  text-decoration: none;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: var(--border-radius);
}

.btn-primary {
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
  transition: all 0.5s;
}

.btn-primary:focus {
  color: #fff;
  background-color: #116e32;
  border-color: #116e32;
  box-shadow: 0 0 0 0.2rem rgb(15 162 67 / 65%);
}

.btn-primary:hover {
  background-color: #116e32;
  border-color: #116e32;
}

/* header  */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  padding: 0;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link::before,
.dropdown-item::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.dropdown-item:hover::before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu::before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}

.dropdown-menu {
  border-radius: var(--border-radius);
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
}

.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color);
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
  transition: all 0.5s;
}
.dropdown-item:hover {
  color: var(--primary-color);
}

/* carousel  */

.carousel .banner-view {
  background: url(../img/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.carousel li {
  list-style-type: none;
}

.carousel .banner-top1 {
  background: url(../img/banner2.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-top2 {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-top3 {
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-view::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #0c0c0c;
  opacity: 0.6;
}

.carousel .banner-info-bg {
  max-width: 700px;
}

.carousel .banner-info-bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  text-transform: capitalize;
}

.carousel .banner-info-bg p {
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

.carousel .banner-info-bg .btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

.carousel .banner-info-bg .border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.carousel .banner-info-bg .border-btn:hover {
  color: var(--primary-color);
  background: #fff;
}

.owl-theme .owl-nav {
  display: none;
}

.owl-theme .owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary-color);
  width: 30px;
  height: 10px;
}

/* about  */
.about__content.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.about .about__content a {
  text-decoration: none;
}

/* features  */
.features {
  background-color: rgba(147, 107, 232, 0.05);
}

.features .icon i {
  color: var(--primary-color);
  font-size: 30px;
}

.features .card {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
  border-color: transparent;
}

.features .card:hover {
  background: var(--bg-light);
}

.features .card-body h4 a,
.features .card-body a {
  text-decoration: none;
}

.features .card-body {
  padding: 20px 0;
}

.features .card-body h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
  transition: all 0.5s;
}

.features .card-body h4 a:hover {
  color: var(--primary-color);
}

.features .card-body p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}

/* services  */
.services .service-img img {
  border-radius: 10px;
}

.services .service-text {
  align-self: center;
}

.services .service-text p {
  font-size: 16px;
  margin: 15px 0 35px 0;
}

.services .cont-4 {
  list-style: none;
  line-height: 1.5;
}

.services .cont-4 i {
  color: var(--primary-color);
  margin-right: 12px;
  background: rgba(147, 107, 232, 0.05);
  font-weight: 700;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.services .cont-4 li {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}

/* number  */
.number {
  background: var(--primary-color);
}

.number .number__info {
  text-align: center;
}

.number .number__info p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0;
}

.number .number__info h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}

/* pricing  */
.pricing {
  background: var(--bg-light);
}

.pricing .heading h6 {
  font-weight: 600;
}

.pricing .pricing__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}

.pricing .pricing__content .pricing__info {
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
  border: 1px solid var(--border-light);
}

.pricing .pricing__detail-top h6 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

.pricing .pricing__detail-top h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.pricing .pricing__detail-top h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.pricing .pricing__detail-top h4 span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}

.pricing .pricing__detail-bottom-info .links {
  min-height: 120px;
}

.pricing .pricing__detail-bottom-info .links li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}

.pricing .pricing__detail-bottom-info .links li p {
  font-size: 18px;
  line-height: 28px;
  padding-top: 6px;
}

.pricing .pricing__info.active {
  transform: scale(1.03);
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
}

.pricing .pricing__info.active .pricing__detail-top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pricing .pricing__detail-top h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}

.pricing .pricing__info.active h6,
.pricing .pricing__info.active h4 {
  color: #fff;
}

.pricing .pricing__info.active h4 span {
  color: #eee;
}

.pricing .pricing__info.active .pricing__detail-bottom {
  padding: 2em 2.5em 3.5em;
}
.pricing__detail-bottom-info {
  padding-top: 1em;
}

/* index  */
.middle-section {
  max-width: 950px;
  margin: 0 auto;
}

.index .history-info .radius-img {
  border-radius: var(--border-radius);
}

.index .history-info .comingsoon__video .video-play-icon {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  line-height: 55px;
  font-size: 16px;
  border: 0;
  border-radius: 50%;
  background: #fff;
  color: var(--primary-color);
  transition: all 0.5s;
}

/* animation ripple  */
.video-play-icon::before {
  top: 0;
  left: 0;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-play-icon::before,
.video-play-icon::after {
  animation: ripple 2s linear infinite;
}

.video-play-icon::before {
  animation-delay: 0.5s;
}

.video-play-icon::after {
  animation-delay: 0.9s;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* testtimonials */
.testimonials {
  background: var(--bg-light);
}

.w3l-clients .testimonial-width {
  max-width: 1050px;
  margin: auto;
}

.testimonials .testimonial {
  display: block;
  margin: 0;
  padding: 40px 30px;
  position: relative;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}

.testimonials blockquote q {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}

.testimonials blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  line-height: 0.8;
  padding-top: 8px;
  font-weight: 600;
  display: inline-block;
  font-family: "Merriweather", serif;
}

.testimonials .testi-des {
  display: flex;
  text-align: center;
}

.testimonials .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.testimonials .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.testimonials .testimonial .peopl {
  margin: 0;
  margin-left: 20px;
  text-align: left;
}

.testimonials .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.testimonials p.indentity {
  color: #777;
  font-size: 17px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
}

#owl-demo1 .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 30px;
  margin-top: 80px;
}

#owl-demo1 .owl-dots .owl-dot {
  background: transparent;
  outline: none;
}

/* update  */
.update .subcriber {
  max-width: 650px;
}
.update .subcriber-form input {
  font-size: 16px;
  color: var(--title-color);
  border: 1px solid #ced4da;
  border-radius: var(--border-radius);
  padding: 0px 20px;
  background: #fff;
  height: 60px;
}
.update .subcriber-form .btn {
  padding: 15px 45px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: var(--border-radius);
}

.update .subcriber-form .form-control:focus {
  border: 1px solid var(--primary-color);
  box-shadow: none;
}

/* footer */
footer {
  background: #111;
}

footer .footer-title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

footer ul li {
  list-style: none;
  margin-bottom: 5px;
}

footer .footer__content ul li a,
footer .footer__content ul li p {
  font-size: 16px;
  line-height: 28px;
  color: #6c757d;
}
footer .footer__content ul li a:hover,
footer .footer__content .social-icons i:hover {
  color: #fff;
}

footer .footer__content ul strong {
  font-weight: bolder;
  color: #6c757d;
}

footer .footer__content .social-icons i {
  margin-right: 15px;
  color: #6c757d;
  transition: all 0.5s;
}

footer .footer__copyright {
  border-top: 1px solid rgba(108, 117, 125, 0.1);
}

footer .footer__copyright p {
  font-size: 15px;
}

footer .footer__copyright a {
  color: var(--secondary-color);
  opacity: 0.9;
}

/* backtotop  */
.backtotop {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  border-radius: 50%;
  border-color: transparent;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 90px;
  color: #fff;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1050;
}

button:focus {
  outline: none;
}

.backtotop:hover {
  transform: translateY(-5px);
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* light theme  */
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  color: var(--primary-color);
  display: block;
}

#myBody {
  background-color: white;
}

#switchButton {
  background-color: transparent;
}

/* dark theme  */

.dark #switchButton .fa-sun {
  display: block;
  color: var(--primary-color);
}

.dark #switchButton .fa-moon {
  display: none;
}
#navbarNavDropdown > .btn {
  font-size: 30px;
  outline: none;
  border: 1px solid transparent;
}
.mobile-position i {
  font-size: 30px;
}
.mobile-position {
  position: absolute;
  top: 5px;
  right: -30px;
}
.mobile-position:focus {
  box-shadow: none;
}
.dark #switchButton {
  background-color: transparent;
}

.dark#myBody .services .cont-4 i,
.dark#myBody .features .card:hover,
.dark#myBody .dark-2 {
  background-color: #222;
}
.dark#myBody .dropdown-menu::before,
.dark#myBody .dropdown-menu {
  border: 1px solid #333;
}
.dark#myBody .dropdown-menu::before {
  border-bottom: transparent;
  border-right: transparent;
}
.dark#myBody .dark-1,
.dark#myBody .testimonials .testimonial,
.dark#myBody .pricing .pricing__content .pricing__info,
.dark#myBody .fixed-top,
.dark#myBody .features .card,
.dark#myBody .dropdown-menu,
.dark#myBody .dropdown-menu::before,
.dark#myBody .dropdown-item:hover {
  background-color: #151515;
}
.dark#myBody footer .footer__content .social-icons i,
.dark#myBody .testimonials blockquote q,
.dark#myBody p,
.dark#myBody footer .footer__content ul li a,
.dark#myBody footer .footer__content ul li p,
.dark#myBody footer .footer__content ul strong {
  color: #afafaf;
}
.dark#myBody .number .number__info p,
.dark#myBody .testimonials .testimonial .peopl h3,
.dark#myBody .pricing .pricing__detail-top h6,
.dark#myBody .nav-link,
.dark#myBody .title,
.dark#myBody .read,
.dark#myBody .features .card-body h4 a,
.dark#myBody .services .cont-4 li,
.dark#myBody footer .footer__content .social-icons i:hover,
.dark#myBody footer .footer__content ul li a:hover,
.dark#myBody .dropdown-item {
  color: #fff;
}
.dark#myBody .nav-item.active .nav-link,
.dark#myBody .nav-link:hover,
.dark#myBody .read:hover,
.dark#myBody .features .card-body h4 a:hover,
.dark#myBody .dropdown-item:hover {
  color: var(--primary-color);
}
.dark#myBody .pricing1,
.dark#myBody .pricing3 {
  border-color: #444;
}
.dark#myBody .pricing__info.active {
  border: none;
}

/* responsive  */
@media screen and (max-width: 1199.98px) {
  /* carousel  */
  .carousel .banner-info-bg h5 {
    font-size: 52px;
    line-height: 62px;
  }
  .carousel .banner-info-bg p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  /* header  */
  header.fixed-top {
    height: auto;
    padding: 10px 0;
  }
  header.nav-fixed {
    height: auto;
    padding: 5px 0;
  }

  .icon-close {
    display: none;
  }

  #navbarNavDropdown .navbar-nav {
    background-color: #fff;
    text-align: center;
  }
  .dark#myBody #navbarNavDropdown .navbar-nav {
    background-color: #151515;
  }
  #navbarNavDropdown .dropdown-menu {
    background-color: #fff;
    border-color: #fff;
    text-align: center;
  }
  header {
    height: auto;
    padding: 15px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 0;
  }
  .navbar-expand-lg .navbar-nav .nav-link::before {
    content: "";
    display: none;
  }
  .theme-position {
    position: fixed;
    top: 10px;
    right: 60px;
  }
  .nav__input {
    display: none;
  }
  .navbar-toggler-icon.fa {
    position: absolute;
    right: 20px;
    top: 13px;
    line-height: 1.2em;
    color: #fff;
    line-height: 30px;
    background-color: var(--primary-color);
    border-radius: 5px;
  }
  .nav__input:checked ~ .icon-close {
    display: block;
  }

  #navbarNavDropdown .dropdown-menu {
    transform: translateX(0px);
    border: 1px solid var(--border-color);
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    width: 100%;
    margin: 0 auto;
  }
  .navbar-nav .dropdown-menu .dropdown-item:hover::before {
    display: none;
  }
  .number .number__info p {
    font-size: 40px;
    line-height: 50px;
  }
  .number .number__info h4 {
    font-size: 18px;
  }

  /* carousel  */
  .carousel .banner-info-bg h5 {
    font-size: 50px;
    line-height: 55px;
  }
  /* pricing  */
  .pricing__content .buy-button {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .pricing .pricing__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 50px auto 0;
    width: 60%;
  }
  .pricing .pricing__info.active {
    transform: scale(1);
  }
}
@media screen and (max-width: 767.98px) {
  .carousel .banner-info-bg p {
    font-size: 16px;
  }
  .pricing .pricing__content {
    width: 75%;
  }
  .form-control {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 737px) {
  .number .number__info p {
    font-size: 35px;
    line-height: 38px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 667px) {
  #owl-demo1 .owl-dots {
    display: none;
  }
  .update .subcriber-form .btn {
    display: block;
    width: 100%;
    margin-top: 16px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (max-width: 568px) {
  .pricing .pricing__content {
    gap: 20px;
    margin: 30px auto;
  }
}
